{% extends "base.html" %}
{% block content %}
<main class="bd-masthead">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto col-md-4 order-md-2">
                <img src="{{ url_for('static', filename='img/efwefsdf.jpg') }}" alt="" height="210" width="212">
            </div>
            <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
                <h1 class="mb-3">Управление поставками сим-карт СберМобайл</h1>
                <div class="bd-callout">
                    <p>Получено заявок на заказ сим-карт: <mark>{{ orders_info[0] }}</mark> в текущем месяце, <mark>{{ orders_info[1] }}</mark> в предыдущем
                    <br>Дата последней заявки в БД: {{ orders_info[2] }}</p>
                    <hr>
                    <p>Сформировано поставок: <mark>{{ delivery_info[0] }}</mark> в текущем месяце, <mark>{{ delivery_info[1] }}</mark> в предыдущем
                    <br>Дата последней поставки в БД: {{ delivery_info[2] }}</p>
                    <hr>
                    <p>Дата последней продажи в БД: {{ sales_info[0] }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <h3 class="mb-3">Выбери какой тип информации хочешь загрузить в БД:</h3>
            <form method='POST'>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="orders">
                      <label class="form-check-label" for="inlineCheckbox1">Заявки</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="delivery">
                      <label class="form-check-label" for="inlineCheckbox2">Поставки</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="sales">
                      <label class="form-check-label" for="inlineCheckbox3">Продажи</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="balances">
                      <label class="form-check-label" for="inlineCheckbox4">Остатки ВСП</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox5" name="orders_worker">
                      <label class="form-check-label" for="inlineCheckbox5">Обновить CHECK ORDERS</label>
                    </div>
                    <button type="submit" class="btn btn-dark" value="Run" name="submit">Запустить</button>
                </div>
            </form>
        </div>
    </div>
</main>
<style>
.bd-masthead {
    margin-top: 20px;
}
</style>
{% endblock content %}

{% block script %}
<script>
</script>
{% endblock %}
